<%= render "shared/header" %>


<div class="items-sell-main">
  <h1 class="items-sell-title bg-primary">カテゴリー</h1>
  <% unfollowed_users = User.where.not(id: @user.followings.pluck(:id)).where.not(id: @user.id).order("RAND()").limit(5).to_a %>
  <% unfollowed_users.shuffle.each do |user| %>
    <p class="f-user"><%= link_to user.nickname, user_path(user) %></p>
  <% end %>
</div>

 <div class="items-sell-main">
  <h1 class="items-sell-title">フォローメンバー</h1>
  <% @followings.each do |user| %>
    <p class="f-user"><%= link_to user.nickname, user_path(user) %></p>
  <% end %>
 </div>

 <%= render "shared/footer" %>