.purchase-btn {
  width: 120px;
  background: #FFC6E3;
  text-align: center;
  border-radius: 4%;
  top: 20px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 2;
  transition: box-shadow 0.3s;
}

.purchase-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 2.0);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

/* 追加記述 */
.purchase-btn-left {
  width: 120px;
  background: #FFC6E3;
  text-align: center;
  border-radius: 4%;
  top: 20px;
  left: 32px;
  position: fixed;
  padding: 15px;
  z-index: 2;
  transition: box-shadow 0.3s;
}

.purchase-btn-left:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 2.0);
}

.purchase-btn-text-left {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon-left {
  width: 60%;
}
/* 追加記述 */
