.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background:#FBC2DF;
  border: 1px solid #FBC2DF;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

.login-flash-message {
  text-align: center;
  color: red;
}

@media (max-width: 980px) {
    body .form-wrap {
        margin-top: 340px;
        padding: 270px 0 270px 0;
        margin-bottom:340px;
    }
  
}